body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

section {
	background-color: #fff;
	padding: 1em;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

h1, h2 {
	margin-bottom: 10px;
}

#calendario, #canchas, #reservacion {
	width: 80%;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
	clear: both;
}
